.section3-parent{
    display: flex;
    position: relative;
    height: 700px;
  width: 100%;
 flex-direction: column;
  justify-content: center;
  align-items: center;
  

  overflow: hidden;
  }
  .section3-container{
   display: flex;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;


  }

  .prof-image-fixe{
 
    height: 100%;
    width:100%;
   left: 0%;
   bottom: 0%;
   width: 50%;
   z-index: -1;
    background-size: cover;
   position: fixed;
    background-position: center center;
    background-repeat: no-repeat;


  }
  .section3-container .left{
    position: relative;
   height: 100%;
width: 40%;
background-color: transparent;


  }
  .section3-container .right{

    height: 100%;
    width: 60%;
   
    background:linear-gradient(to right, #f5eeff ,#9290ff);

  }
  .section3-container .prof{
    display: flex;
    height: 100%;
    width: 100%;
  justify-content: center;
 
   flex-direction: column;
  }
  .section3-container .prof h1{
    text-align: center;
  font-size: 25px;
    width: 100%;
   color: rgb(226, 226, 226);

  }
  .section3-container .prof p{
    text-align: center;
    color: rgb(197, 197, 197);
    width: 100%;


  }
  .etude-type{
    display: flex;
    height:100%;
     width: 100%;
  flex-direction: column;
     justify-content: center;
    

   }
   .etude{
    display: flex;
    flex-direction: row;
    height: 300px;
     width:90%;
     background-color: ;
     background:linear-gradient(to right, rgb(6, 88, 118) ,rgb(0, 2, 107));
     margin: 10px;
      overflow: hidden;
      box-shadow: 5px 2px 15px 0px rgb(0, 0, 0);
    
   }
  .etude-carre{
    width:300px;
    height: 300px;
    background-color: rgb(255, 255, 255)
  
  }
  .etude-flesh{
    width:150px;
    height: 300px;
    background-color: #3a2756;
    transform: rotate(45deg);
    margin-left: 50%;
  
  }
   
  
 
 
 .etude-text{
    display: flex;
   
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;
   flex-direction: column;
   position: relative;
   margin: 15px;
    
   }
   .etude-text .title{
    display: flex;
    height: 30%;
    width: 100%;
    align-items: center;
    justify-content: center;

   
    
   }
   .etude-text .text{
   display: flex;
    height: 70%;
    width: 100%;
   }

   @media screen and (max-width: 700px) {
    .section3-parent{
     
      height: 1000px;
  
    
  
    overflow: hidden;
    }
    .prof-image-fixe{
 
     
      width:10%;
     left: -20%;
     bottom: 0%;
     width: 50%;
     z-index: -1;
      background-size: cover;
     position: fixed;
      background-position: center center;
      background-repeat: no-repeat;
  
  
    }
    .section3-container .left{
    
  width: 30%;

  
  
    }
    .section3-container .right{
  
     
      width: 70%;
   
  
    }
    .section3-container .prof h1{
      
    font-size: 20px;
  
  
    }
    .section3-container .prof p{
      font-size: 14px;

  
  
    }
  
}