/* Global Styles */
body {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
  }
  
  /* Section Styles */
  .home-part2-1 {
    display: flex;
    flex-direction: column;
    margin-left: 2%;
    margin-right: 2%;
    width: 100%;
    top: 40%;
    
    position: absolute;
    justify-content: space-around;
    z-index: 1;
  }
  
  .formations-title {
    display: flex;
    justify-content: center;
    align-items:center;
    height: 25%;
    margin-top: 5%;
    
  }
  
  .formations-title h1 {
    font-size: 50px;
    color: #ffffff;
   
    padding: 10px;
  }
  
  .formation-container {
    display: flex;
    width: 100%;
    height: 400px;
    justify-content: center;
    align-items: center;
  }
  
  .formations-type {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    width: 100%;
  }
  
  .formation-container button {
    background-color: #ffffff;
    position: absolute;
    width: 250px;
    height: 50px;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, .1) 0 2px 4px 0;
    font-size: 16px;
    margin-top: 80%;
  }
  
  /* Formation Styles */
  .formation {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    margin: 0 25px 25px 25px;
    align-items: center;
    position: relative;
   

    background-color: var(--formation-bg);
    width: 20%;
    height: 350px;
    object-fit: contain;
    background-size: cover;
    background-position: center center;
    border-radius: 20px;
    box-shadow: 2px 2px 4px 0px rgb(57, 87, 2);
    transform: translateX(-00%);

    border: none;
  }
  
  .formation-title {
    display: flex;
    width: 95%;
    height: 10%;
    border-radius: 20px;
    justify-content: center;
    align-items: center;
    justify-content: center;
    align-content: center;
  }
  
  .formation-text {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    border-radius: 20px;
  
    align-items: center;
  }
  
  .formation h1 {
    text-align: center;
    font-size: 25px;
    color: var( --formation-title-color);


  }
  
  .formation p {
    text-align: center;
    color: var(--formation-text-color);
    margin: 10px;
  }
  

  
  /* Accueil Icon Styles */
  .accueil-icon {
    color: rgb(39, 255, 122);
    padding: 10px;
    border: 0px solid rgb(232, 224, 200);
    border-radius: 10px;
    background-color: rgba(101, 255, 158, 0.373);
    box-shadow: 0px 1px 1px 0px rgb(0, 0, 0);
    width: 50px;
  }
  
  /* Prof Part Styles */
  .prof-part {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 600px;
  }
  
  .prof-part1 {
    display: flex;
    width: 100%;
    height: 300px;
    justify-content: center;
    margin-top: 30px;
  }
  
  .prof {
    display: flex;
    background-color: #ffffff;
    flex-direction: column;
    width: 35%;
    height: 300px;
    justify-content: space-around;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
  }
  

  
  .prof h1 {
    text-align: center;
    font-weight: bold;
    color: #0047FF;
    font-size: 25px;
    margin: 10px;
  }
  
  .prof p {
    text-align: center;
    color: rgb(4, 19, 56);
    font-size: 18px;
    margin: 5px;
  }
  
  @media screen and (max-width: 1100px) {
    .formation-title h1 {
      font-size: 50px;
    }
    .formation h1 {
      text-align: center;
      font-size: 18px;
    }
    .formation p {
      text-align: center;
      font-size: 12;
    }
    .formation {
      height: 350px;
    }
  }
  
  @media screen and (max-width: 750px) {
    .home-part2-1 {
      display: flex;
      flex-direction: column;
      margin-left: 2%;
      margin-right: 2%;
      width: 90%;
      top: var(--top_formation_part);
      
      position: absolute;
      justify-content: space-around;
      z-index: 1;
    }
    .formation-title h1 {
      font-size: 40px;
    }
    .formation-container  {
     

      height: 60%;
      
    }
    .formation-container button {
     
      width:200px;
      height: 100px;
      font-size: 15px;
      margin-top: 50%;
     
    }
    .formations-type {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      width: 100%;
     height:var( --height_formation_part);
    }
    .formation {
      width: 90%;
      height: 370px;
    
    }
    .formation h1 {
      font-size: 30px;
    }
    .formation p {
      font-size: 22px;
    }
    .prof-part1 {
     
        height: var(--height_prof_part);
    
        margin-top: 30px;
      }
    .prof-part1 {
        flex-direction: column;
        align-items: center;
        width: 100%;
        height: 600px;
    
        margin-top: 30px;
      }
      .part2 {
        flex-direction:column-reverse;
       
      }
      .prof{
        width: 90%;
        flex-direction: column;
      }
  }
  
  @media screen and (max-width: 450px) {
    .formation-title h1 {
      font-size: 35px;
    }
    .formation {
      width: 100%;
      padding: 0%;
    }
    .formation h1 {
      font-size: 14;
    }
    .formation p {
      font-size: 11;
    }
  }
  