body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
}

.home-all-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.section1,
.section2 {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.section1 {
  background-color: rgb(255, 255, 255);
  height: 2300px;
}

.section2 {
  background-color: rgb(255, 255, 255);
  height: 1000px;
}

.home-part1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.home-part1-1 {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.presentation-title {
  position: absolute;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 40%;
  top: 0%;
  opacity: 0.9;
  z-index: 2;
  background-color: rgba(169, 164, 255, 0.5);

}

.presentation-title h1 {
  font-size: 4rem;
  color: rgb(1, 13, 61);
}

.presentation-title p {
  font-size: 3rem;
  margin-top: -1rem;
  color: rgb(4, 36, 81);
}

.presentation-title button {
  background-color: #16005e;
  border: 1px solid #00f7ff;
  width: 300px;
  height: 100px;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, .1) 0 2px 4px 0;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  font-size: 25px;
  font-weight: 400;
  outline: none;
  margin-bottom: 20px;
  outline: 0;
  padding: 10px 25px;
  text-align: center;
  transform: translateY(0);
  transition: transform 150ms, box-shadow 150ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}
  .presentation-title button:hover {
    box-shadow: rgba(0, 0, 0, .15) 0 3px 9px 0;
    transform: translateY(-2px);
  }
  
  .presentation-img {
    display: flex;
    flex-direction: row;
    object-fit: contain;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    opacity: 1;
  }
  
  .presentation-sous-img {
    background-size: cover;
    background-position: center center;
    width: 100%;
    height: 40%;
    position: absolute;
    top: 0;
    left: 0;
    background-repeat: no-repeat;
    z-index: 1;
  }
  
  .presentation-sous-svg {
    background-size: cover;
    background-position: center center;
    width: 100%;
    height: 700px;
    position: absolute;
    z-index: 7;
    top: 22%;
    background-repeat: no-repeat;
  }
  
  .presentation-img-fixed {
    background-size: cover;
    background-position: center center;
    width: 100%;
    height: 95%;
    position: fixed;
    bottom: 0%;
    background-repeat: no-repeat;
    opacity: 1;
    z-index: 0;
    background-color: #00f7ff;
  }
  .presentation-img-fixed-div{
    width: 100%;
    height: 95%;
    background-color: rgba(86, 78, 252, 0.6);
  }
  
  @media screen and (max-width: 1100px) {
    .home-part1-1 {
      height: 500px;
    }
    .presentation-title h1 {
      font-size: 3rem;
    }
    .presentation-title p {
      font-size: 2rem;
      margin-top: -1rem;
    }
  }
  
  @media screen and (max-width: 750px) {
    .section1 {
      height: var(--height_home);
      width: 100%;
    }
    

    .presentation-sous-svg {
      height: 500px;
      top: 13%;
    }
    .presentation-img-fixed {
      height: 95%;
    }
    .home-part1-1 {
      flex-direction: column;
      height: 400px;
    }
    .presentation-title {
    top: 0%;
      height: var(--height_title);

    }
    .presentation-title h1 {
      font-size: var( --font_presentation-title_h_mobile);
    }
    .presentation-title p {
      font-size:var( --font_presentation-title_p_mobile);
      margin-top: -1rem;
    }
    .presentation-title button {
      width: 250px;
      height: 60px;
      font-size: 18px;
      margin-top: 10px;
      padding: 10px 25px;
    }
    .presentation-img {
      overflow-y: visible;
      height: var(--presentation-img);
      width: 100%;
    }
    .presentation-sous-img {
      background-size: cover;
      height: var(--presentation-img);
      
    filter: hue-rotate(190deg);
    }
  }
  
  @media screen and (max-width: 450px) {
    .home-part1-1 {
      height: 500px;
    }
  
    .presentation-title h1 {
      font-size: var( --font_presentation-title_h_mobile);
    }
    .presentation-title p {
      font-size:var( --font_presentation-title_p_mobile);
      margin-top: -1rem;
    }
    .presentation-title button {
      width: 200px;
      height: 60px;
      font-size: 20px;
      margin-top: 10px;
      padding: 10px 25px;
    }
    .presentation-img {
      overflow-y: visible;
      height: 30%;
      width: 100%;
    }
    .presentation-sous-img {
      background-size: cover;
    }
    .presentation-aprops h1 {
      font-size: 1.2rem;
    }
    .presentation-aprops p {
      font-size: 0.9rem;
      line-height: 1.5;
    }
  }
  