/* Global Styles */
body {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
  }
  
  /* Section Styles */
  .home-part2-1 {
    display: flex;
    flex-direction: column;
  
    width: 100%;
    top: 40%;
    
    position: absolute;
    justify-content: space-around;
    z-index: 1;
  }
  
  .formations-title {
    display: flex;
    justify-content: center;
    align-items:center;
    height: 25%;
   
    background-color: white;
    
  }
  
  .formations-title h1 {
    font-size: 50px;
    color:   rgb(20, 20, 20) ;
    letter-spacing: 2px;
    text-align: center;
    margin-top: 10%;
    
  }
  
  .formation-container {
    display: flex;
    width: 100%;
    height: 400px;
    background-color: white;
    justify-content: center;
    align-items: center;
  }
  
  .formations-type {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    width: 100%;
    
    
  }
  
  .formation-container button {
    background-color: #ffffff;
    position: absolute;
    width: 250px;
    height: 50px;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, .1) ;
    font-size: 16px;
    margin-top: 80%;
  }
  
  /* Formation Styles */
  .formation {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    margin: 0 25px 25px 25px;
    align-items: center;
    position: relative;
    
    background: linear-gradient(to right, rgb(153, 0, 255),#7700ff, #0059ff);
    z-index: 7;
   
    width: 25%;
    height: 300px;
    object-fit: contain;
    background-size: cover;
    background-position: center center;
    
    box-shadow: 2px 2px 10px  rgb(9, 14, 0);
    transform: translateX(-00%);
   
    
    border: none;
  }
  
  .formation-title {
    display: flex;
    width: 100%;
    height: 10%;
    border-radius: 20px;
    justify-content: center;
    align-items: center;
    justify-content: center;
    align-content: center;
  }
  
  .formation-text {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    border-radius: 20px;
  
    align-items: center;
  }
  
  .formation h1 {
    text-align: center;
    font-size: 25px;

    color: rgb(255, 255, 255);
   

  }
  
  .formation p {
    text-align: center;
    color: rgb(206, 206, 206) ;
    font-size: 16px;
    margin: 10px;
  }
  .formation a {
    text-align: center;
    color: rgb(237, 255, 164);
   
  }
  
  
.presentation-sous-svg4{
    background-size: cover;
    background-position: center center;
    width: 100%;
    height: 600px;

    z-index: 0;
    position: absolute;
    background-repeat: no-repeat;
    bottom: 35%;
  }
  
  
  /* Accueil Icon Styles */
  .accueil-icon {
    color: rgb(39, 255, 122);
    padding: 10px;
    border: 0px solid rgb(232, 224, 200);
    border-radius: 10px;
    background-color: rgba(101, 255, 158, 0.373);
    box-shadow: 0px 1px 1px 0px rgb(0, 0, 0);
    width: 50px;
  }
  
  /* Prof Part Styles */
  .prof-part {
    display: flex;
    flex-direction: column;
    margin-top: 10%;
    align-items: center;
    width: 100%;
    height: 600px;
  
    
  }
  
  .prof-part1 {
    display: flex;
    width: 100%;
    height: 300px;
    justify-content: center;
    margin-top: 30px;
  }
  
  .prof {
    display: flex;
    background-color: #8bc3f4;
    background: linear-gradient(to right, rgb(124, 0, 200), #043082);
    flex-direction: column;
    width: 35%;
    height: 300px;
    padding: 1%;
    justify-content: space-around;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    box-shadow: 2px 4px 7px  rgb(0, 0, 0);
  }
  

  
  .prof h1 {
    text-align: center;
    font-weight: bold;
    color: #ffffff;
    font-size: 25px;
    margin: 10px;
  }
  
  .prof p {
    text-align: center;
    color: rgb(213, 213, 214);
    font-size: 18px;
    margin: 20px;
  }
  
  @media screen and (max-width: 1100px) {
    .formations-title h1 {
      font-size: 50px;
      
    }
    .formation h1 {
      text-align: center;
      font-size: 18px;
    }
    .formation p {
      text-align: center;
      font-size: 12;
    }
    .formation {
      height: 300px;
      width: 30%;
      margin: 0 15px 15px 15px;
    }
  }
  
  @media screen and (max-width: 750px) {
    .home-part2-1 {
      display: flex;
      flex-direction: column;
      margin-left: 2%;
      margin-right: 2%;
      width: 100%;
      top: var(--top_formation_part);
      
      position: absolute;
      justify-content: space-around;
      z-index: 1;
    }
    .formations-title h1 {
      font-size: 40px;
      margin-top: 20%;
      
    }
    .formation-container  {
     

      height: 50%;
      
    }
    .formation-container button {
     
      width:150px;
      height: 50px;
      font-size: 15px;
      margin-top: 50%;
     
    }
    .formations-type {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      width: 90%;
     height:var( --height_formation_part);
    }
    .formation {
      width: 90%;
      height: 350px;
      padding: 40px;
    
    }
    .formation h1 {
      font-size: 30px;
    }
    .formation p {
      font-size: 22px;
    }
    .presentation-sous-svg4{
        background-size: cover;
       
        bottom: 20%;
      }
    .prof-part1 {
     
        height: var(--height_prof_part);
    
        margin-top: 30px;
      }
    .prof-part1 {
        flex-direction: column;
        align-items: center;
        width: 90%;
        height: 500px;
    
        margin-top: 13%;
      }
      .part2 {
        flex-direction:column-reverse;
       
      }
      .prof{
        width: 100%;
        flex-direction: column;
        height: 350px;
        
      }
      .prof h1 {
       
        font-size: 20px;
        margin: 4px;
      }
      
      .prof p {
        
        font-size: 18px;
        margin-left: 20px;
        margin-right: 20px;
        margin-bottom: 10px;
      }
  }
  
  @media screen and (max-width: 450px) {
    .formations-title h1 {
      font-size: 30px;
    }
    .formation {
      width: 100%;
      padding: 0%;
    }
    .formation h1 {
      font-size: 22px;
    }
    .formation p {
      font-size: 20px;
    }
  }
  