:root {
  
  margin: auto; 
  --navbar_color:#ffffff;
  --navbar_mobile_color:#424223;
  --navbar_mobile_ul: #e3f5f0;
  --navbar_mobile_click:#81AA5B;
  --mather-color:#e3f5f0;
 
 
 
  --title-color:#FF6B09;
  --aprops-color:#1e1e1e ;

 
  --formation-title-color:#091102;
  --formation-text-color:#091102 ;
  --formation-bg:rgb(255, 255, 255); 
  --mession-font-big-title-color:rgb(16, 16, 13);
 
  --event-font-big-title-color:#20221c;
  --event-bg-text:#36fea1;
  --button_event_color:#81AA5B;
 
  --devenir_bene_button:#81AA5B;
 --btn_color:rgb(39, 255, 122);
 --figure_snip_bg_color:#81AA5B;
 --figure_blockquote_bg_color:#ecf5e3;
 --figure_text_color:#000000;
 --figure_title_color:#000000;
 
 
  --footer-color:#13192f;
  --footer-shadow-color:#585e45;
  --footer-font-color:#8d9e77;
  --footer_font_size_title_700:16px ;
  --footer_font_size_text_700:12px ;
  --footer_font_size_textp_700:11px ;
  --footer_font_size_title_400:14px ;
  --footer_font_size_text_400:12px ;
  --footer_font_size_textp_400:11px ;

  --height_home:2900px ;
  --presentation-img:20%;
  --height_formation_part:30%;
  --height_prof_part:30%;
  --height_prof_sous_part1:30%;
  --height_prof_sous_part2:30%;
  --top_part1:30%;
  --top_formation_part:22%;
  --top_prof_part:30%;
  --height_title:20%;

  --font_presentation-title_h_mobile:2rem;
  --font_presentation-title_p_mobile:1.8rem;
 }
