.formation-all-container{
    display: flex;
    width: 100%;

    align-content: center;
    align-items: center;
    justify-items: center;
    justify-content: center;
   }
.formation-container{
    display: flex;
    flex-direction: column;
    width: 90%;

    align-content: center;
    align-items: center;
    justify-items: center;
   }
.formation-all{
   display: flex;
   width: 90%;

   align-content: center;
   align-items: center;
   justify-items: center;
   margin-top: 20px;
  }

  .formations{
    display: flex;
    width:50%;
    height: 300px;
    align-content: center;
    background-color: azure;
   }
   .groupes{
    display: flex;
    flex-direction: column;
    width:50%;
    height: 300px;
    align-content: center;
    background-color: azure;
   }