

body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
}
.home-all-section{
  display: flex;
  flex-direction: column;
  position: relative;
  flex-direction: column;
  height: 100%;
  align-items: center;
  width: 100%;
   background-color: transparent;
}
.section1 {
  display: flex;
  position: relative;
  flex-direction: column;
  
  width: 100%;

  justify-content: center;
  align-items: center;
}

.section2 {
  display: flex;
  position: relative;
  flex-direction: column;

  background-color: bisque;
  align-items: center;
  width: 100%;
}
.section3 {
  display: flex;
  position: relative;
  flex-direction: column;

  
  align-items: center;
  width: 100%;
}
.section4 {
  display: flex;
  position: relative;
  flex-direction: column;

  
  align-items: center;
  width: 100%;
}