
.section2-slider{
    width: 100%;
    height: 1000px;
    background-color: rgb(0, 19, 97);

}
.slider_container{

  position: relative;

  width: 100%;
  height: 400px;

  justify-content: center;
  align-items: center;
}
.slider_avis{

    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}
.slider_avis h1{
 font-size:30px;
    color: aliceblue;
    letter-spacing: 20px;
}
.content{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;

    justify-content: center;
    align-items: center;
    

    
}
.content-top{
position: relative;
 display: flex;
 width: 80%;
 height: 80%;

 justify-content: center;
 align-items: center;
 
    
}
.sliders{
    display: flex;
    position: relative;
    width: 99%;
    height: 100%;
    align-items: center;
    overflow: hidden;
   
    
    
}
.slider{
    position: 'absolute';
   
    height: 100%;
    justify-content: center;
    margin: 10px 10px 10px 0;
    align-items: center;
    background-color: rgb(0, 19, 97);
    
}
.slider-content{
   display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
}
.slider-content-content{
    display: flex;
    flex-direction: column;
   
    align-items: center;
 
  width: 90%;
  height: 90%;

}
.slider-content-content .slider-image {
 display: flex;
  width: 100%;
  height: 25%;
  background-color: rgb(76, 171, 255);
  align-items: center;
  justify-content: center;

}
.slider-content-content .slider-image img {
 
    width: 25%;
    height: 100%;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
  
  }
  .slider-content-content .title {
 
    width: 100%;
    height: 25%;
    background-color: rgb(76, 171, 255);
    align-items: center;
    justify-content: center;
  
  }
  .slider-content-content .title h1 {
 
    text-align: center;
    font-size: 18px;
  
  }
  .slider-content-content .text {
 
    display: flex;
    width: 100%;
    height: 50%;
    background-color: rgb(76, 171, 255);
    align-items: center;
    justify-content: center;
  }
  .slider-content-content .text p {
 
    text-align: center;
    font-size: 14px;
   
  }
.content-botom{
    display: flex;
    width: 80%;
    height: 20%;
    background-color: rgb(0, 19, 97);
    justify-content: center;
    align-items: center;
    
}