
.section2-slider{
    width: 100%;
    height: 1000px;
    background-color: aqua;

}
.slider_container{

  position: relative;

  width: 100%;
  height: 300px;
  background-color: rgb(255, 255, 255);
  justify-content: center;
  align-items: center;
}
.content{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background-color: blueviolet;
    justify-content: center;
    align-items: center;
    

    
}
.content-top{
position: relative;
 display: flex;
 width: 80%;
 height: 80%;
 background-color: rgb(127, 0, 254);
 justify-content: center;
 align-items: center;
 
    
}
.sliders{
    display: flex;
    position: relative;
    width: 99%;
    height: 100%;
    align-items: center;
    overflow: hidden;
   
    
    
}
.slider{
    position: 'absolute';
   
    height: 100%;
    justify-content: center;
    margin: 10px 10px 10px 0;
    align-items: center;
    background-color: rgb(120, 156, 5);
    
}
.content-botom{
    display: flex;
    width: 80%;
    height: 20%;
    background-color: rgb(96, 39, 241);
    justify-content: center;
    align-items: center;
    
}